body,
.container,
.top_half,
.running_total,
.button_output,
.bottom_half,
.numpad_clear_negative,
.clear_negative,
#key,
.keys_789,
.keys_456,
.keys_123,
.keys_0decimal,
.operators {
    display:flex;
    justify-content:center;
    align-items:center;
}

.container {
    flex-direction:column;
    max-width: 400px;
    border:5px solid gray;
}

.top_half {
    flex-direction:column;
    background-color:gray;
    min-width:100%;
    border:1px;
    border-style:solid;
    border-color:black;
}

.top_half,
.running_total,
.button_output,
#key {
    box-sizing:border-box;
    border:1px solid black;
}

.running_total,
.button_output {
    background:white;
    min-height:30px;
    min-width:100%;

}

#key {
    flex: 1 0 fit-content;
    font-size:20px;
    min-width:50px;
    min-height:50px;
}


.bottom_half {
    min-width:100%;
    min-height:fit-content;
}

.numpad_clear_negative,
.operators {
    flex-direction:column;
    
}

.numpad_clear_negative {
    flex: 1 0 content;
}

.operators {
    min-width:min-content;
    min-height:fit-content;
}

.clear_negative,
.keys_789,
.keys_456,
.keys_123,
.keys_0decimal {
    min-width:100%;
    min-height:100%;
    
}